= javascript_include_tag "http://#{request.host}:9292/faye.js" 
:javascript
  // TODO: make the channels secure
  $(function() {
    var faye = new Faye.Client('http://#{request.host}:9292/faye');
    faye.subscribe("/users/#{current_user.id}", function(event) {
      if (event.event_type == "NEW_CHAT"){
        $.globalMessenger().post({
          message: "You have received a new chat from "+ event.from,
          type: 'info',
          actions: {
            retry: {
              label: 'Accept',
              action: function() {
                location.href = event.path;
              }
            },
            cancel: {
              action: function() {
                return msg.cancel();
              }
            }
          }

        });
      }
    });
  });

