#chat_view.container
  .row
    .span12
      = hidden_field_tag :session_id, @chat.session_id
      = hidden_field_tag :token, @token

      #screens_wrapper
        #screen_1_wrapper
          %i.icon-spinner.icon-spin
          #screen_1

        #screen_2