/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require select2
 *= require_self
 *= require font-awesome
 *= require messenger
 *= require messenger-theme-air
 *= require_tree .
 */

$navbarBackgroundHighlight: rgba(255,255,255,.9);
$btnPrimaryBackground: #1dd1c8;
$btnPrimaryBackgroundHighlight: #098883;
@import "bootstrap";

a, a:visited, a:hover {
  color: #ec006a;
}

body {
  padding-top: 60px;
  &.home { padding-top: 0}
}

.btn.btn-primary {
  color: white;
}

.select2-container, input[type=file] {
  margin-bottom: 10px;
}

.select2-results .select2-highlighted {
  background: #1dd1c8;
}

p {
  color: #7A7A7A;
}

label {
  margin-top: 5px;
  &:fist-child { margin-top: 0; }
}

#header {
  li {
    font-family: 'Text Me One', sans-serif;
    line-height: 40px;
    font-size: 16px;
    text-transform: uppercase
  }

  .brand img {
    height: 30px;
    position: relative;
    top: 2px;
  }
}

#footer-separator {
  background: url(footer-separator.png);
  width: 100%;
  height: 15px;
  margin-top: 50px;
}
#footer {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  p {line-height: 20px;}
  img { 
    margin: 0 4px;
    vertical-align: middle;
  }
}


h1, h2, h3, h4 {
  font-family: 'Text Me One', sans-serif;
}
.text-center {
  text-align: center
}

h4 {
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: -3px;
}

#error_explanation {
  h2 { 
    font-family: Helvetica, Arial;
    font-size: 16px;
    line-height: 18px;
  }
}