#edit-profile, #sign-up, #login {
  width: 220px;
  margin: 40px auto 20px auto;
}

#profile {
  margin-top: 40px;
  h2 {
  }
}

#users {
  margin-top: 20px;
  .select2-container {
    margin-top: 20px;
    width: 180px;
  }
  .avatar img {
    margin-bottom: 5px;
    width: 100px;
    box-shadow: 0 0 10px 1px rgba(29, 209, 200, 0.71)
  }
}