#hero
  .container
    .box
      %h1 
        Improve your 
        %span.lang English
      %h2 Find a native speaker, start talking, have fun. 

      = link_to users_path, :class => "btn btn-primary btn-large" do
        Let's get started
        %i.icon-chevron-right
      
.container
  #features.row
    .span4
      .text-center
        = image_tag "ico-video.png", style: "height: 70px"
        %h4 Video call a native speaker
        %p
          Improve your language by video chatting with a native speaker. Simple, fast and safe.
    .span4
      .text-center
        = image_tag "ico-smartphone.png", style: "height: 70px"
        %h4 Even in your smartphone
        %p
          Make and receive calls from your smartphone with our native app for iOS.
    .span4
      .text-center
        = image_tag "ico-free.png", style: "height: 70px"
        %h4 And for free
        %p
          We don't charge anything, everyone loves to meet foreign people, right?
