#footer-separator
%footer#footer
  .container
    %p.muted.text-center
      Built on top of
      = image_tag "web-rtc.png", style: "height: 10px"
      and
      = image_tag "open-tok.png", style: "height: 14px"