%header#header
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.brand{:href => "#"}
          = image_tag "logo2.png"
        %ul.nav.pull-right
          %li.active
            %a{:href => "#"} Home
          %li
            %a{:href => "#"} Sign up
          %li= link_to "Login", new_user_session_path
